@import "../../vars";

.users_wrapper {
  .pagination {
    .currentPage {
      font-weight: 700;
      span {
        background: $dark_main-color;
      }
    }
    .page-link {
      cursor: pointer;
    }
  }
  .search-block {
    height: 30px;
    outline: none;
    input {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
    }
    .button {
      background: transparent;
      border: none;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  .users {
    .user {
      p {
        margin-bottom: 5px;
      }
      .card-img-top {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.light {
  .users_wrapper {
    .search-block {
      input {
        border-bottom: 1px solid #333;
        color: #333;
      }

      .button {
        svg {
          path {
            fill: #333;
          }
        }
      }
    }
  }
}
