@import '../../vars';

header {
  padding: 10px;
  background: $color;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .logo img {
    max-width: 100px;
  }
  .login-block {
    .btn-login {
      background: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
      color: #fff;
    }
  }
}

.dark {
  header {
    background: $dark_main-color;
  }
}