@import '../../vars';

.navigation {
  padding: 30px;
  background: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
  flex-basis: 25%;
  max-width: 25%;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
  .menu-navigation {
    li {
      list-style: none;
      a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        transition: all .4s ease-in-out;
        display: block;
        border-bottom: 1px solid transparent;
        border-radius: 5px;
        padding: 0 5px;
        &:hover {
          text-decoration: none;
          opacity: .7;
          color: $color;
        }
        &.active {
          border-color: $color;
        }
      }
    }
  }
  .friendsList {
    width: 100%;
    color: #fff;
    .friend {
      list-style: none;
      .user-avatar {
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
      }
    }
  }

}