.navigation {
  padding: 30px;
  background: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
  flex-basis: 25%;
  max-width: 25%;
  li {
    list-style: none;
    a {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      transition: all .4s ease-in-out;
      &:hover {
        text-decoration: none;
        opacity: .7;
      }
      &.active {
        color: #52b788;
      }
    }
  }
}