.profile__block {
  .profile-top-bg {
    max-height: 200px;
  }
  .profile-info {
    .adm-avatar {
      margin-top: -50px;
      img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        border: 5px solid #fff;
      }
    }
  }
}
