
.formWrapper {
  height: calc(100% - 70px);
  label {
    color: #000;
    font-weight: 700;
  }

  .captchaImg {
    margin: 10px 0;
    max-width: 150px;
  }

  .dangerMsg {
    border-bottom: 1px solid red;
  }
}